In [29]:
import numpy as np
import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, RobustScaler

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
data=pd.read_csv('/Users/e5028514/Desktop/Projects/waitlist/data/data_clean.csv')
data.head()

,record_id,redcap_event_name,project_id,dob,age,p_lang,p_lang_2,suburb,pc,date_referral,...,p4_1,p4_2,p4_3,p4_4,P4_total,NRS,paincat,OA,PA_guidelines_recoded,cvdrisk_index
0,8,baseline_arm_1,WL0008,1980-10-26T00:00:00Z,41,1,NaN,TARNEIT,3029,2019-01-02T00:00:00Z,...,6.0,7.0,9.0,9.0,31.0,7.0,Moderate,No,0,1
1,10,baseline_arm_1,WL0010,1958-03-05T00:00:00Z,64,1,NaN,WERRIBEE,3030,2019-01-02T00:00:00Z,...,7.0,6.0,6.0,8.0,27.0,7.0,Moderate,Yes,1,3
2,13,baseline_arm_1,WL0013,1958-08-24T00:00:00Z,63,1,NaN,KEILOR DOWNS,3038,2019-01-08T00:00:00Z,...,5.0,3.0,7.0,3.0,18.0,8.0,Severe,Yes,0,0
3,16,baseline_arm_1,WL0016,1947-10-26T00:00:00Z,74,1,NaN,WEST FOOTSCRAY,3012,2019-01-08T00:00:00Z,...,8.0,8.0,8.0,8.0,32.0,8.0,Severe,Yes,1,2
4,18,baseline_arm_1,WL0018,1966-03-24T00:00:00Z,56,1,NaN,KINGS PARK,3021,2019-01-16T00:00:00Z,...,3.0,3.0,3.0,3.0,12.0,3.0,Mild,No,0,1

In [ ]:
data.describe()

In [38]:
var=data.columns.tolist()
var

data.shape

data.columns

data['record_id'].value_counts().sort_values()
data2=data.drop(['record_id'],axis=1, inplace=False)
print(data2.columns.tolist())

['redcap_event_name', 'project_id', 'dob', 'age', 'p_lang', 'p_lang_2', 'suburb', 'pc', 'date_referral', 'referral_joints', 'shoulder', 'arm', 'elbow', 'wrist', 'hand', 'hip', 'knee', 'ankle', 'foot', 'other', 'other_exp', 'joint.affected', 'side.afected', 'oa_check', 'ref_comms', 'date.completed', 'wait.time.days', 'marital.status', 'gender', 'gender.text', 'employment', 'employment.binary', 'study_prompt', 'study_status', 'edu_level', 'highest.ed', 'Education.binary', 'cob', 'cob.binary', 'aus_indigenous', 'nz_indigenous', 'aoa', 'mh_1', 'mh_2', 'mh_3', 'mh_4', 'mh_5', 'mh_6', 'mh_7', 'mh_8', 'mh_9', 'mh_10', 'cvd_info', 'injury_dets', 'medications', 'medications.listed', 'surgery', 'surgery.listed', 'high.BP', 'high.cholesterol', 'diabetes', 'smoke', 'smoking.amount', 'exsmoker', 'exsmoker.amount', 'alcohol', 'alcohol.amount', 'EQ5D_mobility', 'EQ5D_pc', 'EQ5D_ua', 'EQ5D_pain', 'EQ5D_anxdep', 'EQ-5D_VAS', 'EQprofile', 'walksess', 'walkhrs', 'walkmins', 'walk.time', 'gardsess', 'gardhrs', 'gardmins', 'garden.time', 'vigsess', 'vighrs', 'vigmins', 'vig.time', 'modsess', 'modhrs', 'modmins', 'mod.time', 'AAS_total', 'PA_guidelines', 'aas9a', 'aas9b', 'aas9c', 'aas9d', 'aas9e', 'nut1', 'nut2', 'nut3', 'nut4', 'nut5', 'nut6', 'Sleep', 'Sedentary.time', 'Enough.sleep', 'k10_1', 'k10_2', 'k10_3', 'k10_4', 'k10_5', 'k10_6', 'k10_7', 'k10_8', 'k10_9', 'k10_10', 'K10_total', 'phq_9_1', 'phq_9_2', 'phq_9_3', 'phq_9_4', 'phq_9_5', 'phq_9_6', 'phq_9_7', 'phq_9_8', 'phq_9_9', 'PHQ_total', 'MDD', 'PHQ_cat', 'swemwbs_1', 'swemwbs_2', 'swemwbs_3', 'swemwbs_4', 'swemwbs_5', 'swemwbs_6', 'swemwbs_7', 'swemwbs_total', 'uclals_1', 'uclals_2', 'uclals_3', 'uslals_total', 'scs_1', 'scs_2', 'scs_3', 'scs_4', 'scs_5', 'scs_6', 'scs_7', 'scs_8', 'scs_score', 'p4_1', 'p4_2', 'p4_3', 'p4_4', 'P4_total', 'NRS', 'paincat', 'OA', 'PA_guidelines_recoded', 'cvdrisk_index']

In [39]:
data.drop(['record_id'], axis=1, inplace=True)